<mat-card class="card">
    <h4>Add New Course</h4>
    <form class="example-container" #CourseForm="ngForm" (ngSubmit)="onSubmit(CourseForm)">
        <mat-form-field  appearance="fill">
          <mat-label>course name</mat-label>
          <input matInput >
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>instructor</mat-label>
            <input matInput >
          </mat-form-field>
          <br/>
          <section class="example-section">
            <mat-checkbox class="example-margin" name="isAvailble">Available</mat-checkbox>
          </section>
          <br/>
          <section>
         
             
              <button mat-flat-button color="primary" type="submit" >Add</button>
        
            
          </section>
      
        </form>

</mat-card>

